body {
  margin:0;
}
/*Grid*/
#sidebar {
  width: 102px;
  height: 100vh;
  transition: all .3s linear 0s;
}
.d-flex {
  display: flex!important;
}
.d-block {
  display: block!important;
}
.flex-column {
  flex-direction: column!important;
}
.flex-shrink-0 {
  flex-shrink: 0!important;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.grid{
  display:grid;
  grid-template-rows:repeat(var(--bs-rows, 1), 1fr);
  grid-template-columns:repeat(var(--bs-columns, 12), 1fr);
  gap:var(--bs-gap, 1.5rem)
}
.grid .g-col-1{
  grid-column:auto/span 1
}
.grid .g-col-2{
  grid-column:auto/span 2
}
.grid .g-col-3{
  grid-column:auto/span 3
}
.grid .g-col-4{
  grid-column:auto/span 4
}
.grid .g-col-5{
  grid-column:auto/span 5
}
.grid .g-col-6{
  grid-column:auto/span 6
}
.grid .g-col-7{
  grid-column:auto/span 7
}
.grid .g-col-8{
  grid-column:auto/span 8
}
.grid .g-col-9{
  grid-column:auto/span 9
}
.grid .g-col-10{
  grid-column:auto/span 10
}
.grid .g-col-11{
  grid-column:auto/span 11
}
.grid .g-col-12{
  grid-column:auto/span 12
}
.grid .g-start-2 {
  grid-column-start: 2;
}
/*Colors*/
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(242,243,247, var(--bs-bg-opacity))!important;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
}
.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}
/*Alignment*/
.rounded-circle {
  border-radius: 50%!important;
}
.align-items-center {
  align-items: center!important;
}
.justify-content-center {
  justify-content: center!important;
}
.text-center{
  text-align: center;
}
.text-decoration-none {
  text-decoration: none!important;
}
.p-3 {
  padding: 1rem!important;
}
.p-10 {
  padding:10px
}
.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.ml-auto, .mx-auto {
  margin-left: auto!important;
}
.mr-auto, .mx-auto {
  margin-right: auto!important;
}
.mb-auto {
  margin-bottom: auto!important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.bi {
  vertical-align: -.125em;
  pointer-events: none;
}
/*NAV*/
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  /*padding: .5rem 1rem;*/
  color: #0d6efd;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.block-level {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 10px auto;
  position: relative;
  color: #fff;
  padding: 12px;
  text-shadow: 0 -1px 1px rgb(0 0 0 / 50%);
  display: inline-block;
}
.active, .block-level:hover {
  box-shadow: 
    inset 4px 2px 8px 1px rgb(0 0 0 / 20%), 
    inset 15px 15px 11px 4px rgb(242 243 247);
}
.active path {
  fill:#5943C1;
}
.menu_icons,
.cls-2 {
  fill: #C0C1C6;
}
.menu_icons {
  fill-rule: evenodd;
}
.emboss_logo {
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px 1px rgb(255 255 255 /70%), inset -2px -2px 2px 1px rgb(230 230 230), 2px 2px 4px 2px rgb(111 111 111 / 10%);
}
.block-level:hover path {
  fill: #5943C1;
}

.rounded-circle {
  border-radius: 50%!important;
}
.profile_image {
  border: 8px solid #E2F0EB;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 0 auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}


#toggleSidebar {
  position: absolute;
  top: 25px;
  left: 110px;
  height: 20px;
  width: 20px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
  background-color: rgb(242,243,247);
  border: 1px solid #ced4da;
}

#toggleSidebar.click {
  left: 260px
}

#toggleSidebar svg {
 fill: #ced4da;
}

#toggleSidebar .closeIcon {
  display:none;
}

#toggleSidebar.click .hamburguerIcon {
  display:none;
}
#toggleSidebar.click .closeIcon {
  display:block;
}
#sidebar.show{
  width:250px;
}

.menuLabel{
  display:none;
  opacity:0;
  vertical-align: super;
  transition: left 0.4s ease;
  font-family: 'Poppins', sans-serif;
}
.menuLabel.show{
  display:inline-block;
  transition: opacity 5s;
  opacity:1;
}
#sidebar.show a.nav-link{
  width:150px;
  text-align:left;
  color:#6c757d;
}
#sidebar.show .nav-item{
  margin-left:60px
}

/*Sidebar2*/
#sidebar.sidebar2 .menuLabel{
  display: block;
  opacity:1;
  color:#6c757d;
  font-size: 12px;
}

/*Sidebar3*/
#sidebar.sidebar3 .menuLabel{
  visibility: hidden;
  display: block;
  opacity:1;
  color:#6c757d;
  font-size: 12px;
}
#sidebar.sidebar3 .nav-link:hover > .menuLabel{
  visibility: visible;
}